* {
  padding: 0px;
  margin: 0px;
}

#characterList {
  align-items: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.character-details {
  flex-grow: 1;
}

.error {
  color: red;
}
